<div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-0">
      <div class="text-center">
        <h1 class="text-balance text-2xl font-semibold tracking-tight text-gray-900 sm:text-4xl">More than cloud solutions, we engineer secure, scalable success.</h1>
        <p class="mt-2 text-pretty font-medium text-gray-500 sm:text-lg/8">Leveraging our expertise in cloud, performance, and quality engineering, we craft personalized solutions that perfectly align with your goals.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Learn More <span aria-hidden="true">→</span></a>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <img src="../images/banner-img.svg" class="-mt-12 mx-auto">
  </div>
  <section class="-mt-32 relative z-20 bg-white dark:bg-gray-900 brand-logos">
        <div class="max-w-screen-xl px-4 pb-8 pt-8 mx-auto lg:pb-16">
            <h4 class="text-center lg:pb-8 leading-4 text-xl lg:mt-10 animated animatedFadeInUp fadeInUp sm:mt-0 lg:mb-0">Trusted by brands around the world</h4>
            <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 sm:grid-cols-3 lg:grid-cols-6 dark:text-gray-400">

            <img class="flex items-center lg:justify-center animated animatedFadeInUp fadeInUp" src="./images/adobe.svg">
            <img class="flex items-center lg:justify-center animated animatedFadeInUp fadeInUp" src="./images/coinbase.svg">
            <img class="flex items-center lg:justify-center animated animatedFadeInUp fadeInUp" src="./images/google.svg">
            <img class="flex items-center lg:justify-center animated animatedFadeInUp fadeInUp" src="./images/mailchimp.svg">
            <img class="flex items-center lg:justify-center animated animatedFadeInUp fadeInUp" src="./images/stripe.svg">
             <img class="flex items-center lg:justify-center animated animatedFadeInUp fadeInUp" src="./images/zoom.svg">
            </div>
        </div>
    </section>

    <section class="py-24 thumbnails">
        <div class="container mx-auto text-center max-w-screen-xl">
           <h2 class="text-3xl font-bold mb-6 mx-auto max-w-screen-sm">More than cloud solutions, we engineer secure, scalable success.</h2>
           <p class="text-lg text-center mb-16 max-w-screen-md mx-auto">
                Leveraging our expertise in cloud, performance, and quality engineering, we craft personalized solutions that perfectly align with your goals.
              </p>
            <div class="text-left grid grid-cols-1 md:grid-cols-4 gap-4">
                <div class="bg-white p-8 rounded-lg animated animatedFadeInUp fadeInUp">
                    <img src="./images/analyze.svg" alt="Bike" class="mb-4">
                    <h3 class="text-xl font-semibold">Analyze and Define Goals</h3>
                    <p class="text-gray-600">We dive deep to understand your unique challenges and requirements. Together, we define clear objectives and key performance.</p>
                </div>
                <div class="bg-white p-8 rounded-lg animated animatedFadeInUp fadeInUp">
                     <img src="./images/earth.svg" alt="Car" class="mb-4">
                   <h3 class="text-xl font-semibold">Develop and Deploy</h3>
                    <p class="text-gray-600">With insights gained from our analysis and your future projections, we craft tailored strategies and build highly available cloud.</p>
                </div>
                <div class="bg-white p-8 rounded-lg animated animatedFadeInUp fadeInUp">
                     <img src="./images/graph.svg" alt="Van" class=" mb-4">
                    <h3 class="text-xl font-semibold">Monitor and Optimize</h3>
                    <p class="text-gray-600">Once your code is live, our system monitoring and alerting solutions take over. We track performance and identify for optimization</p>
                </div>
                <div class="bg-white p-8 rounded-lg animated animatedFadeInUp fadeInUp">
                    <img src="./images/cup.svg" alt="Bike" class=" mb-4">
                   <h3 class="text-xl font-semibold">Iterate and Evolve</h3>
                    <p class="text-gray-600">We believe in continuous improvement. Based on performance metrics and user feedback</p>
                </div>
                
            </div>
        </div>
    </section>

    <section class="text-center py-24 bg-dark">
        <h2 class="text-3xl font-bold mb-4 text-white max-w-screen-sm mx-auto">Scalable Cloud Solutions for Forward-Thinking Companies Like Yours</h2>
        <p class="text-lg mb-8 text-white max-w-screen-md mx-auto">
            We have a team of DevOps which are proficient in different tools & services which are aligned to meet your business goals quickly & cost effective.
        </p>
        <div class="flex flex-col items-center space-y-8">

          <div class="stack max-w-screen-lg w-full">
      
            <div class="stack__card">
              <div class="animated animatedFadeInUp fadeInUp bg-blue-900 bg-card-image rounded-24 p-24 w-full max-w-screen-lg flex flex-col sm:flex-row items-top features-card ">
                <div class="sm:w-2/2 text-white text-left">
                    <h3 class="text-3xl font-semibold mb-2">Cloud Infrastructure Management</h3>
                    <p>We specialize in deploying and managing cloud infrastructure using AWS ECS and AWS EKS (Kubernetes) to ensure scalable, efficient, and secure environments.</p>
                </div>
                <div class="sm:w-3/4 mt-4 sm:mt-0 text-white">
                    <img src="./images/feature-01.svg" class="app-img">
                </div>
            </div>

            </div>
            <div class="stack__card">
              <div class="animated animatedFadeInUp fadeInUp bg-blue-900 bg-card-image rounded-24 p-24 w-full max-w-screen-lg flex flex-col sm:flex-row items-top features-card">
                 <div class="sm:w-1/2 mt-4 sm:mt-0 text-white">
                    <img src="./images/feature-02.svg" class="app-img left">
                </div>

                <div class="sm:w-1/2 text-white text-left">
                    <h3 class="text-3xl font-semibold mb-2">Infrastructure as Code (IaC)</h3>
                    <p>Our expertise in Terraform allows us to create, manage, and automate infrastructure deployments with consistency and reliability.</p>
                </div>
               
            </div>
            </div>
            <div class="stack__card">
              <div class="animated animatedFadeInUp fadeInUp bg-blue-900 bg-card-image rounded-24 p-24 w-full max-w-screen-lg flex flex-col sm:flex-row items-top features-card">
                <div class="sm:w-2/2 text-white text-left">
                    <h3 class="text-3xl font-semibold mb-2">Container Orchestration</h3>
                    <p>We provide advanced solutions in Helm Charts for Kubernetes (K8s), enabling seamless application deployment and scaling.</p>
                </div>
                <div class="sm:w-3/4 mt-4 sm:mt-0 text-white">
                    <img src="./images/feature-03.svg" class="app-img">
                </div>
            </div>
            </div>
            <div class="stack__card">
               <div class="animated animatedFadeInUp fadeInUp bg-blue-900 bg-card-image rounded-24 p-24 w-full max-w-screen-lg flex flex-col sm:flex-row items-top features-card">
                 <div class="sm:w-1/2 mt-4 sm:mt-0 text-white">
                    <img src="./images/feature-04.svg" class="app-img left">
                </div>

                <div class="sm:w-1/2 text-white text-left">
                    <h3 class="text-3xl font-semibold mb-2">Logging and Monitoring</h3>
                    <p>We implement robust logging and monitoring systems using the ELK Stack and Grafana, ensuring continuous insights and real-time tracking of performance.</p>
                </div>
               
            </div>
            </div>
            <div class="stack__card">
              <div class="animated animatedFadeInUp fadeInUp bg-blue-900 bg-card-image rounded-24 p-24 w-full max-w-screen-lg flex flex-col sm:flex-row items-top features-card">
                <div class="sm:w-2/2 text-white text-left">
                    <h3 class="text-3xl font-semibold mb-2">CI/CD Pipeline Automation</h3>
                    <p>We streamline development with CI/CD pipelines, leveraging tools like Bitbucket, GitLab, GitHub, Jenkins, or CircleCI for efficient code integration and delivery.</p>
                </div>
                <div class="sm:w-3/4 mt-4 sm:mt-0 text-white">
                    <img src="./images/feature-03.svg" class="app-img">
                </div>
            </div>
            </div>
          </div> 
           
        </div>
    </section>

     <section class="py-24 thumbnails">
        <div class="container mx-auto text-center max-w-screen-xl">
           <h2 class="text-3xl font-bold mb-6 mx-auto max-w-screen-sm">Unlock tailored solutions with cutting-edge technology.</h2>
           <p class="text-lg text-center mb-8 max-w-screen-md mx-auto">
                We have a team of DevOps which are proficient in different tools & services which are aligned to meet your business goals quickly & cost effective.
              </p>
            <div class="text-left grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="bg-white p-8 rounded-lg animated animatedFadeInUp fadeInUp">
                    <img src="./images/service-01.svg" alt="Bike" class="mb-4">
                    <h3 class="text-xl font-semibold">Cloud</h3>
                    <p class="text-gray-600">Deploy on any cloud/on-prem with Kubernetes & docker. Use our managed stack of Kubernetes Deployment for production setup to get you running in few hours.</p>
                     <a href="/cloud" class="text-sm/6 font-semibold text-gray-900 flex mt-5">Learn more  <span aria-hidden="true" class="ml-2">→</span></a>
                </div>
                <div class="bg-white p-8 rounded-lg animated animatedFadeInUp fadeInUp">
                     <img src="./images/service-02.svg" alt="Car" class="mb-4">
                   <h3 class="text-xl font-semibold">DevOps</h3>
                    <p class="text-gray-600">Deploy to any cloud on AWS,GCP,Azure,Digital Ocean etc with security first approach and scale to handle any amount of traffic with continues deployement.</p>
                    <a href="/cloud" class="text-sm/6 font-semibold text-gray-900 flex mt-5">Learn more  <span aria-hidden="true" class="ml-2">→</span></a>
                </div>
                <div class="bg-white p-8 rounded-lg animated animatedFadeInUp fadeInUp">
                     <img src="./images/service-03.svg" alt="Van" class=" mb-4">
                    <h3 class="text-xl font-semibold">Kubernetes</h3>
                    <p class="text-gray-600">Pick your own tool or select from few of tools we use Jenkins, Aws Pipeline, Bitbucket, Gitlab, CircleCI & Azure DevOps.</p>
                    <a href="/cloud" class="text-sm/6 font-semibold text-gray-900 flex mt-5">Learn more  <span aria-hidden="true" class="ml-2">→</span></a>
                </div>
                <div class="bg-white p-8 rounded-lg animated animatedFadeInUp fadeInUp">
                    <img src="./images/service-04.svg" alt="Bike" class=" mb-4">
                   <h3 class="text-xl font-semibold">SRE</h3>
                    <p class="text-gray-600">Deploy on any cloud/on-prem with Kubernetes & docker. Use our managed stack of Kubernetes Deployment for production setup to get you running in few hours.</p>
                    <a href="/cloud" class="text-sm/6 font-semibold text-gray-900 flex mt-5">Learn more  <span aria-hidden="true" class="ml-2">→</span></a>
                </div>
                 <div class="bg-white p-8 rounded-lg animated animatedFadeInUp fadeInUp">
                     <img src="./images/service-05.svg" alt="Van" class=" mb-4">
                    <h3 class="text-xl font-semibold">Platform</h3>
                    <p class="text-gray-600">We provide cloud training tools and help you set up networks, We provide cloud training tools and help you set up networks, We provide cloud training tools and help you set up networks</p>
                    <a href="/cloud" class="text-sm/6 font-semibold text-gray-900 flex mt-5">Learn more  <span aria-hidden="true" class="ml-2">→</span></a>
                </div>
                <div class="bg-white p-8 rounded-lg animated animatedFadeInUp fadeInUp">
                    <img src="./images/service-06.svg" alt="Bike" class=" mb-4">
                   <h3 class="text-xl font-semibold">High availability</h3>
                    <p class="text-gray-600">Have multiple enviornments which require constant changes, Monitoring, Logging, Alerting & critical SLA's to meet and debug production issues on the fly.</p>
                    <a href="/cloud" class="text-sm/6 font-semibold text-gray-900 flex mt-5">Learn more  <span aria-hidden="true" class="ml-2">→</span></a>
                </div>
                
            </div>
        </div>
    </section>

        <section class="text-center py-24 bg-dark">
        <h2 class="text-3xl font-bold mb-4 text-white max-w-screen-sm mx-auto">Discover why businesses trust us for their success.</h2>
        <p class="text-lg mb-8 text-white max-w-screen-md mx-auto">
            We offer more than just exceptional customer service; our commitment to delivering top-notch cloud solutions drives business results that delight our customers—and that brings us even greater joy.
        </p>
        <div class="flex flex-col items-center space-y-8">

          <div class="max-w-screen-xl mt-10 w-full grid grid-cols-1 md:grid-cols-3 gap-8">

      		<img src="./images/carousel-1.svg">
      		<img src="./images/carousel-2.svg">
      		<img src="./images/carousel-3.svg">
            
          </div> 
           
        </div>
    </section>

         <section class="py-24 thumbnails">
        <div class="container mx-auto text-center max-w-screen-xl">
           <h2 class="text-3xl font-bold mb-6 mx-auto max-w-screen-sm">Enhance Your Business with Innovative Cloud Technologies</h2>
            <img src="./images/services-logos.svg" alt="services-logos" class="mb-4 mx-auto">
           <p class="text-lg text-center mb-8 max-w-screen-md mx-auto">
               Upgrade your IT infrastructure by leveraging cloud technologies from AWS, Microsoft Azure, and Google Cloud to meet your IT team's essential business objectives. Whether your focus is on cost efficiency, security, flexibility, or enhanced productivity, our certified cloud experts are here to help. With a blend of expertise and agility, our cloud solutions empower you to build reliable, scalable, and maintainable applications, driving digital transformation for sustainable success.
              </p>
           
        </div>
    </section>


    <section class="py-24 footer-cta">
        <div class="container mx-auto text-center max-w-screen-md">
            <h2 class="text-4xl font-semibold text-white mb-8 animated animatedFadeInUp fadeInUp">Drive AI Integration with Kubernetes and  Viruecloud's Open Source Mastery</h2>
            <button class="animated animatedFadeInUp fadeInUp bg-white text-black font-regular py-3 px-6 rounded-full shadow-md hover:bg-gray-200 transition duration-300">
                Get started
            </button>
        </div>
    </section>
    <!-- End block -->
    <footer class="text-white py-10">
        <div class="container mx-auto flex max-w-screen-xl flex-wrap justify-between items-start space-y-6 lg:space-y-0">
            <div class="w-full lg:w-2/6">
                <img src="./images/footer-logo.svg" class="mb-5">
                <p class="mb-4 text-sm text-400 text-gray-400">
                   We at Virtue cloud are working with our clients to help them use the full potential of the cloud and be worry-free and get rid of all the manuals process they have to follow for the deployment of the applications and infra.
                </p>
                <p class=" dark:text-gray-400">
                    <strong>Our Address</strong><br>
                    160 gandhi nagar Rd, #14-04 <br> SBF Indore M.P, India 068914
                </p>
            </div>
            <div class="w-full lg:w-1/6">

                <h3 class="mb-6 text-sm font-semibold uppercase dark:text-white">Quick Links</h3>
                <ul class="text-gray-500 dark:text-gray-400">
                    <li><a href="#" class="hover:underline">Business</a></li>
                    <li><a href="#" class="hover:underline">Personal</a></li>
                    <li><a href="#" class="hover:underline">Driver</a></li>
                    <li><a href="#" class="hover:underline">Company</a></li>
                    <li><a href="#" class="hover:underline">Login</a></li>
                </ul>
            </div>
            <div class="w-full lg:w-1/6">
                <h3 class="mb-6 text-sm font-semibold uppercase dark:text-white">Company</h3>
               <ul class="text-gray-500 dark:text-gray-400">
                    <li><a href="#" class="hover:underline">About</a></li>
                    <li><a href="#" class="hover:underline">Careers</a></li>
                    <li><a href="#" class="hover:underline">Contact</a></li>
                    <li><a href="#" class="hover:underline">Privacy Policy</a></li>
                    <li><a href="#" class="hover:underline">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="w-full lg:w-1/6 download-app-footer">
                <h3 class="mb-6 text-sm font-semibold uppercase dark:text-white">Usage</h3>
                <ul class="text-gray-500 dark:text-gray-400">
                    <li><a href="#" class="hover:underline">Terms & Conditions</a></li>
                    <li><a href="#" class="hover:underline">Privacy Policy</a></li>
                </ul>
                
            </div>
        </div>
        <div class="container mx-auto text-center max-w-screen-xl mt-10 border-t border-gray-700 pt-6 flex justify-between copy-rights">
            <div class="flex justify-center space-x-4 mb-4">
                <a href="#" class="text-xl"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-xl"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-xl"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-xl"><i class="fab fa-youtube"></i></a>
            </div>
            <span class="block text-sm text-center text-gray-400 dark:text-gray-400">© 2024-2025 VirtueCloud, All rights reserved</span>
        </div>
    </footer>

